<div class="day-detail">
    <h1 class="day-name">{{ day.trip_name.trip_name }}<br></h1>
    <h2 class="day-text"><a href="">{{ day.trip_name.start_day }}</a></h2>
    <h2 class="day-text"><a href="">{{ day.start_time }}</a></h2>
    <ul>
        {% for l in day.location_set.all %}
        <li>{{ l.name }} -- Staying for 
        {% if l.duration_hour %}{{ l.duration_hour }}hour {% endif %}
        {% if l.duration_min %}{{ l.duration_min }}min{% endif %}</li>
        {% endfor %}
    </ul>
    <h4 class="day-time"><em>Planned by {{ day.trip_name.creator }}</em></h4>
</div>