<div class="location-detail">
    <h1 class="location-name">{{ location.day.trip_name.trip_name }}<br></h1>
    <h2 class="location-text"><a href="">{{ location.day }}</a></h2>
    <h2 class="location-text"><a href="">{{ location.day.start_time }}</a></h2>
    <h2 class="location-text"><a href="">{{ location.name }}</a></h2>
    <h3 class="location-text"><a href="">{{ location.duration_hour }}</a></h3>
    <h3 class="location-text"><a href="">{{ location.duration_min }}</a></h3>
    <h4 class="location-time"><em>Planned by {{ location.day.trip_name.creator }}</em></h4>
</div>