<div class="day-detail">
    <h1 class="day-name">{{ day.trip_name.trip_name }}<br></h1>
    <h2 class="day-text">{{ day}}</h2>
    <h2 class="day-text">{{ day.trip_name.start_day }}</h2>
    <h2 class="day-text">{{ day.start_time }}</h2>
    <ul>
        {% for l in day.location_set.all %}
        <li><a href="{% url 'trversal:view-loc' l.id %}">{{ l.name }}</a> -- Staying for 
        {% if l.duration_hour %}{{ l.duration_hour }}hour {% endif %}
        {% if l.duration_min %}{{ l.duration_min }}min{% endif %}<br>
        Arrive at -- {{ l.time_arr }}<br>
        Leave By -- {{ l.time_leave }}
        </li>

        {% endfor %}
    </ul>
    <h4 class="day-time"><em>Planned by {{ day.trip_name.creator }}</em></h4>
    <p><a href="{% url 'trversal:new-loc' day.pk  %}">Add Location</a></p>
    <p><a href="{% url 'trversal:view-trip' day.trip_name.pk  %}">Back to Trip</a></p>
    <p><a href="{% url 'trversal:index' %}">All Trips</a></p>

</div>