{% extends 'base.html' %}

{% block head %}
  <title>{{ trip.name }}</title>
{% endblock %}

{% block body %}
    <div class="trip">
      <div class="map-block">
        <div id="map"></div>
      </div>
      <div class="panel-trip">
        <div id="trip-name">{{ trip.name }}</div>
        <div id="hidden-pk">{{ trip.pk }}</div>
        <div id="app">
          <div class="trip-header">
            <div id="trip-day">Day [[ day.day_order ]]</div>
            <div id="trip-date">[[ day.day_date ]]</div>
            <button class="prev" v-on:click="previous(day)"><i class="fas fa-angle-left fa-2x"></i></button>
            <button class="next" v-on:click="next(day)"><i class="fas fa-angle-right fa-2x"></i></button>
          </div>
          <div id="loc-panel">
            <ol id="loc" v-if="day.locs">
              <div class="loc-grid" v-for="(l, i) in day.locs">
                  <div class="l-arrive">[[ l.time_arr ]]</div>
                  <div class="l-leave">[[ l.time_leave ]]</div>

                  {% if user == trip.creator %}
                  <div class="btn-up"><button class="btn-icon" v-on:click="up(l, l.pk, day.locs[i-1])"><i class="fas fa-caret-up fa-lg"></i></button></div>
                  <div class="btn-down"><button class="btn-icon" v-on:click="down(l, l.pk, day.locs[i+1])"><i class="fas fa-caret-down fa-lg"></i></button></div>
                  {% else %}
                  <div class="btn-up"></div>
                  <div class="btn-down"></div>
                  {% endif %}

                  <div class="l-name"><li>
                  <a href=""><i id="directions" v-on:click="directions(l, day.locs[i-1])" class="fas fa-directions fa-lg"></i></a>
                  [[ l.name ]]</li>
                  </div>
              </div>
            </ol>
            <ol id="loc" v-else>

              {% if user == trip.creator %}
              <li id="no-days"> <a href="{% url 'trversal:edit-trip' trip.pk %}"><button class="btn" >+Add Days</button></a></li>
              {% endif %}

            </ol>

          {% if user == trip.creator %}
          <a href="{% url 'trversal:edit-trip' trip.pk %}"><button class="btn2">Edit Trip & Days Info</button></a>
          <a href="{% url 'users:mytrip_list' user %}"><button class="btn2">Back to My Trips</button></a>
          {% else %}
          <div class="l-name">Please login to edit this trip.</div>
          {% endif  %}

          </div>
        </div>
      </div>
  </div>
{% endblock %}
{% block js %}
<script src="https://unpkg.com/vue"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs27HLOoV6keN4f7cGfspYlJc5HSdEl78&markers=icon:static/favicon.ico"></script>
<script>
  let tripPk = document.getElementById("hidden-pk").innerText
  function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
          }
  var map;
  var directionsService;
  var directionsDisplay;
  var markers = [];
  function initMap() {
    directionsService = new google.maps.DirectionsService();
    directionsDisplay = new google.maps.DirectionsRenderer({map: map});
    {% comment %} directionsDisplay = new google.maps.DirectionsRenderer({map: map, suppressMarkers: true}); {% endcomment %}
    var chicago = new google.maps.LatLng(41.850033, -87.6500523);
    var mapOptions = {
      zoom:2,
      center: { lat: 51.5074, lng: 0.1278}
    }
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    directionsDisplay.setMap(map);
  }

  function calcRoute(day) {
    let locsArr = [];
    let waypts = []
    var i;
    for (i = 0; i < day.locs.length; i++){
      locsArr.push({lat: day.locs[i].g_lat, lng: day.locs[i].g_lng});
    }
    
    var start = locsArr.shift();
    var end = locsArr.pop();
    for (i = 0; i < locsArr.length; i++){
        waypts.push({location: locsArr[i], stopover: true})
    }

    var request = {
      origin: start,
      destination: end,
      travelMode: day.mode,
      waypoints: waypts,
    };
    directionsService.route(request, function(result, status) {
      if (status == 'OK') {
        directionsDisplay.setDirections(result);
        {% comment %} 
        for (var i = 0; i < waypts.length; i++) {
          markers.push(new google.maps.Marker({
            animation: google.maps.Animation.DROP,
            position: waypts[i].location,
            map: map,
            icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
            }));
        }
        {% endcomment %}
    
      }
      })
  };

  
  let app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      trip: {},
      day: {},
    
    
    },
    methods: {
      up: function(l,pk, m){
        loc1 = {
          "pk": l.pk,
          "order": (l.order - 1),
          "day": l.day,
          "name": l.name,
          "g_name": l.g_name,
          "g_lat": l.g_lat,
          "g_lng": l.g_lng,
          "time_arr": l.time_arr,
          "time_leave": l.time_leave,
          "url": l.url
        }
        loc2 = {
          "pk": m.pk,
          "order": (m.order + 1),
          "day": m.day,
          "name": m.name,
          "g_name": m.g_name,
          "g_lat": m.g_lat,
          "g_lng": m.g_lng,
          "time_arr": m.time_arr,
          "time_leave": m.time_leave,
          "url": m.url
        }
        
        var csrftoken = getCookie('csrftoken');
        console.log(loc1)
        console.log(loc2)
        fetch(`http://localhost:8000/api/locs/${l.pk}/`, {
          method: "PUT",
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken' : csrftoken
          },
          body: JSON.stringify(loc1)

        })
        .then(x => 
        fetch(`http://localhost:8000/api/locs/${m.pk}/`, {
          method: "PUT",
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken' : csrftoken
          },
          body: JSON.stringify(loc2)
        })
        )
        .then(x => 
        fetch(`http://localhost:8000/api/recalc/days/${l.day}/?format=json`)
        .then((response) => response.json())
        .then((response) => this.day = response)
        .then((response) => calcRoute(this.day))
        )
      }, 
      down: function(l,pk, m){
        loc1 = {
          "pk": l.pk,
          "order": (l.order + 1),
          "day": l.day,
          "name": l.name,
          "g_name": l.g_name,
          "g_lat": l.g_lat,
          "g_lng": l.g_lng,
          "time_arr": l.time_arr,
          "time_leave": l.time_leave,
          "url": l.url
        }
        loc2 = {
          "pk": m.pk,
          "order": (m.order - 1),
          "day": m.day,
          "name": m.name,
          "g_name": m.g_name,
          "g_lat": m.g_lat,
          "g_lng": m.g_lng,
          "time_arr": m.time_arr,
          "time_leave": m.time_leave,
          "url": m.url
        }
        
        var csrftoken = getCookie('csrftoken');
        fetch(`http://localhost:8000/api/locs/${l.pk}/`, {
          method: "PUT",
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken' : csrftoken
          },
          body: JSON.stringify(loc1)

        })
        .then(x => 
        fetch(`http://localhost:8000/api/locs/${m.pk}/`, {
          method: "PUT",
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken' : csrftoken
          },
          body: JSON.stringify(loc2)
        })
        )
        .then(x => 
        fetch(`http://localhost:8000/api/recalc/days/${l.day}/?format=json`)
        .then((response) => response.json())
        .then((response) => this.day = response)
        .then((response) => calcRoute(this.day))
    
        )
      },
      next: function(day){
        let i = this.trip.days.indexOf(day)
        if (this.trip.days.length - 1 > i)
          i++
            fetch(`http://localhost:8000/api/trips/${tripPk}/?format=json`)              
            .then((response) => response.json())
            .then((response) => {
              this.trip = response;
              this.day = response.days[i];
              return response;
            })
            .then(response => {
              calcRoute(this.day);
            })
      },
      previous: function(day){
      let i = this.trip.days.indexOf(day)
      if (i > 0)
        i--
        fetch(`http://localhost:8000/api/trips/${tripPk}/?format=json`)              
        .then((response) => response.json())
        .then((response) => {
          this.trip = response;
          this.day = response.days[i];
          return response;
        })
        .then(response => {
          calcRoute(this.day);
        })
      
      },
      directions: function(l, m){
        window.open(`https://www.google.com/maps/dir/?api=1&origin=${l.g_lat},${l.g_lng}&destination=${m.g_lat},${m.g_lng}`);
      }

    },
    mounted: function(){
      fetch(`http://localhost:8000/api/trips/${tripPk}/?format=json`)
      .then((response) => response.json())
      .then((response) =>{
        this.trip = response;
        this.day = response.days[0];
        return response;
      })
      .then(response => {
        initMap();
        calcRoute(this.day);
      })
    }
  })

</script>
{% endblock %}
